[flake8]
# Ignore E402 for path insertion, the rest is for black compatibility
# https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/
ignore = E203, E266, E402, E501, W503
max-complexity = 18
max-line-length = 88
