# running requirements
numpy
scipy
scikit-image
sklearn
pandas
tensorflow
keras
python-dotenv
opencv-python
pillow
typed-argument-parser

# development and testing
black
isort
flake8
pep8-naming
mypy
